{% extends "base.html" %}
{% block content %}

<div class="shell">
  <main class="main">

    <a href="{{ url_for('home')}}">
      <button class="btn secondary">Go Back To Home Page</button>
    </a>

    <!-- Saved -->
    <section class="card">
      <div class="card-body">
        <div class="section-head">
          <h2 class="section-title">Saved</h2>
          <span class="chip">0 movies</span>
          <!-- Hardcoded 25 movies for now. Will change when we integrate backend and db-->
        </div>

        <!-- List of Saved Movies. Tried to follow the card format from the homepage for Barbie and Dune -->  

      </div>
    </section>

    <!-- Folders -->
    <section class="section">
      <div class="section-head">
        <h2 class="section-title">Folders</h2>
        <a href="{{ url_for('folders') }}" class="btn" role="button">Create Folder</a>
      </div>

      <div class="folder-grid">


        </div>
      </div>
    </section>

  </main>
</div>

{% endblock %}