{% extends "base.html" %}
{% block content %}
<div class="container narrow">
  <div class="card">
    <h1 class="h1">Movie App</h1>
    <p class="muted">Log in to your account.</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <p style="color:red;">{{ msg }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post" class="form">
      <label class="label">Username</label>
      <input class="input" name="username" placeholder="e.g. roger" required />

      <label class="label">Password</label>
      <input class="input" type="password" name="password" placeholder="Enter password" required />

      <div class="login-register">
        <button class="btn primary" type="submit">Log in</button>
        <a href="{{ url_for('register') }}" class="btn primary">Register</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}