{% extends "base.html" %}
{% block content %}
<div class="container narrow">
    <div class="card">
        <h1 class="h1">Movie App</h1>
        <p class="muted">Create Your Account</p>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <p style="color:red;">{{ msg }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST" class="form">
            <label class="label">Username</label>
            <input class="input" name="username" placeholder="Enter username" required />
            <label class="label">Password</label>
            <input class="input" type="password" name="password" placeholder="Enter password" required />
            <label class="label">Role</label>
            <div class="row">
              <label class="radio">
                <input type="radio" name="role" value="user" checked />
                <span>General User</span>
              </label>
              <label class="radio">
                <input type="radio" name="role" value="filmmaker" />
                <span>Filmmaker</span>
              </label>
              </div>

            <div class="login-register">
                <button class="btn primary" type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}